{% extends 'Agent/agent-base.html' %}
{% block content %}
<!-- ====== Main -->
<main id="main" class="main">

  <section class="section add-agent">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-lg-12 d-flex flex-column align-items-center justify-content-center">
          <div class="card mb-5">
            <div class="card-body">
              <h5 class="card-title text-center pb-0 fs-4">Customer Registration Form</h5>
              <form class="row g-3 needs-validation" novalidate>
                <div class="row border p-3 m-2">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="customer" class="form-label">First Name</label>
                    <input type="text" name="customer" class="form-control" id="customer" required>
                    <div class="invalid-feedback">Please enter firm name!</div>
                  </div>


                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="owner" class="form-label">Last Name</label>
                    <input type="text" name="owner" class="form-control" id="owner" required>
                    <div class="invalid-feedback">Please provide owner's name!</div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="username" class="form-label">Email</label>
                    <input type="email" name="username" class="form-control" id="custusername" required>
                    <div class="invalid-feedback">Please enter username!</div>
                  </div>


                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="Email" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="custemail" required>
                    <div class="invalid-feedback">Please enter a valid Email adddress!</div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="Password" class="form-label">Password</label>
                    <input type="password" name="custPassword" class="form-control" id="custPassword" required>
                    <div class="invalid-feedback">Please enter password!</div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="confirmpassword" class="form-label">Confirm Password</label>
                    <input type="password" name="custPassword" class="form-control" id="custPassword" required>
                    <div class="invalid-feedback">Please confirm password!</div>
                  </div>

                  <div class="col-lg-2 col-md-3 col-sm-3">
                    <label for="photo" class="form-label">Photo</label>
                    <input type="file" name="custPhoto" class="form-control" id="custPhoto" required>
                    <div class="invalid-feedback">Please upload photo!</div>
                  </div>
                </div>
                <div class="row border p-3 m-2">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="validationDefaultUsername" class="form-label">Phone 1</label>
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">+251</span>
                      <input type="text" class="form-control" id="validationDefaultUsername"
                        aria-describedby="inputGroupPrepend2" required>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="validationDefaultUsername" class="form-label">Phone 2</label>
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">+251</span>
                      <input type="text" class="form-control" id="validationDefaultUsername"
                        aria-describedby="inputGroupPrepend2" required>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="location" class="form-label">Address</label>
                    <input type="text" name="location" class="form-control" id="location" required>
                    <div class="invalid-feedback">Please enter customer's location!</div>
                  </div>


                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <label for="location" class="form-label">House No.</label>
                    <input type="text" name="location" class="form-control" id="location" required>
                    <div class="invalid-feedback">Please enter customer's location!</div>
                  </div>
                </div>
  <div class="row border p-3 m-2">
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <label for="licence" class="form-label">Licence Plate</label>
                  <input type="file" name="licence" class="form-control" id="licence" required>
                  <div class="invalid-feedback">Please upload licence!</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <label for="licence" class="form-label">Licence Plate</label>
                  <input type="file" name="licence" class="form-control" id="licence" required>
                  <div class="invalid-feedback">Please upload licence!</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                  <label for="housenum" class="form-label">Tin no.</label>
                  <input type="number" min="0" name="housenumber" class="form-control" id="housenumber" required>
                  <div class="invalid-feedback">Please enter house number!</div>
                </div>
                </div>
                <hr class="mb-4">
                <div class="col-2">
                  <button id="addcustomer" class="btn btn-warning w-100 text-white" type="submit">Add</button>
                </div>
               
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock %}