{% extends 'Agent/agent-base.html' %}
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <!-- customers view -->
        <div class="col">
          <div class="card recent-sales overflow-auto">

            <div class="card-body">

              <table class="table table-border datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Route</th>
                    <th scope="col">Tin Reg. No.</th>
                    <th scope="col">Address</th>
                    <th scope="col">House No.</th>
                    <th scope="col">Phone number</th>
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th> 
                    <td >Chole K/Mihret Butchery</td>
                    <td>Wendwesen Zenebe</a></td>
                    <td>1A</td>
                    <td>0051228128</td>
                    <td>Bole</td>
                    <td>45/487</td>
                    <td>0917998877</td>
                  </tr>

                 
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
    
      </div>
    </div>
  </div>
</section>
{% endblock %}