{% extends 'Agent/agent-base.html' %}
{% block content %}
<section class="section">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <!-- customers view -->
        <div class="col">
          <div class="card recent-sales overflow-auto">

            <div class="card-body">

              <table class="table table-border datatable">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                   
                    <th scope="col">Date</th>
                    <th scope="col">Order Code</th>
                    <th scope="col">Total paid</th>
                    <th scope="col">Marchent Id</th>
                    <th scope="col">Pay Status</th>
                    <th scope="col"> Status</th>
                   
                    
                  </tr>
                </thead>
                <tbody>
              
                  {% for transaction in all_transaction %}
                  <tr>
                    <th>1</th> 
                    <td><a href="{% url 'transaction-detail' transaction.id %}">{{transaction.date_created}}</a></td>
                    <td >{{transaction.TransactionCode}}</td>
                    <td>{{transaction.Total_Amount}}</td>
                    <td>{{transaction.MarchentId}}</td>
                    <td>{{transaction.Paid_status}}</td>
                    {% if transaction.Agent_order_id.status == 'Pending'  %}
                      <td><span class="badge bg-warning">Pending</span></td>
                    {% elif transaction.Agent_order_id.status == 'Approved' %}
                    <td><span class="badge bg-primary">Approved</span></td>
                    {% elif transaction.Agent_order_id.status == 'Recived' %}
                    <td><span class="badge bg-success">Recived</span></td>
                    {% elif transaction.Agent_order_id.status == 'Reject' %}
                    <td><span class="badge bg-danger">Rejected</span></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- End Recent Sales -->
    
      </div>
    </div>
  </div>
</section>
{% endblock %}